<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/lib/leaflet.min.css" />
	<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
	<link rel="stylesheet" href="/css/lib/swiper.min.css" />
	<link rel="stylesheet" href="/css/lib/css-loaders.css" />
	<link rel="stylesheet" href="/css/lib/modal-fx.min.css" />
	<link rel="stylesheet" href="/css/lib/animate.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<link rel="stylesheet" href="/css/user-profile.css" />
	<link rel="stylesheet" href="/css/search.css" />
	<title th:text="#{search.title}"></title>
</head>

<body class="preload">
	<div id="has-location" th:if="${user.hasLocation}"></div>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-search"></header>
	
		<section class="container" id="main-container"></section>
		
		<div id="show-donation-popup" th:if="${showDonationPopup}">
	</div>

	<div id="donate-modal" class="modal modal-fx-fadeInScale">
		<div class="modal-background"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
						<i class="fa fa-coins fa-2x"></i>
					</div>
					<div class="media-content">
						<div>
							<strong th:text="#{donate.donate-now}"></strong> <br> <span
								th:text="#{search.donation.popup}"></span>
							<div style="padding-top: 12px;"></div>

							<button class="button right is-info colored" onclick="onDonateModalClicked()"
								th:text="#{donate}"></button>

							<button class="button is-danger is-outlined" th:text="#{cancel}"
								style="margin-right: 4px;"
								onclick="$('#donate-modal').removeClass('is-active')"></button>

						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
	
	<div id="search-settings-modal" class="modal modal-fx-fadeInScale">
		<div class="modal-background" onclick="closeModal()"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-content">							
						<div class="section" id="filter-div">
							<div class="container is-small">
								<div style="display: flex">
									<div style="flex-grow: 1">
										<label class="label" th:text="#{search.max-distance}"></label>
										<div class="slider-container" style="padding-top: 8px; padding-bottom: 8px;">
											<input class="slider has-output " step="1" min="1" max="100" value="50" type="range"
												id="max-distance-slider">
											<output for="max-distance-slider">50</output>
											<div style="padding-left: 4px"></div>
											<span th:text="#{km}"></span>
										</div>
									</div>
								</div>
								<div style="display: flex; width: 100%; margin-bottom: 12px;">
									<div style="flex: 1;">
										<label class="label" th:text="#{sort}"></label>
										<div class="select">
											<select id="sort">
												<option value="4" th:text="#{default}"></option>
												<option value="6" th:text="#{search.sort.filter.new-users}"></option>
												<option value="1" th:text="#{search.sort.filter.distance}"></option>
												<option value="3" th:text="#{search.sort.filter.interests}"></option>
												<option value="2" th:text="#{search.sort.filter.active}"></option>
												<option value="5" th:text="#{search.sort.filter.total-donation}"></option>
											</select>
										</div>
									</div>
								</div>
								<div style="display: flex; justify-content: flex-end;">
									<button class="button colored is-info is-rounded" onclick="search(false)" style="margin-top: 12px;">
										<i class="fa fa-search" style="font-size: 1.2em; padding-right: 4px;"></i><span th:text="#{search}"></span>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>

	<div id="map-modal" class="modal modal-fx-fadeInScale">
		<div class="modal-background" onclick="closeModal()"></div>
		<div class="modal-content">
			<div id="map"></div>
		</div>
	</div>
	
	<div id="user-profile-container"></div>
		
	<div class="loader-parent">
		<div class="loader"></div>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/swiper.min.js"></script>
	<script src="/js/lib/bulma-slider.min.js"></script>
	<script src="/js/lib/leaflet.min.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/lib/bulma-toast.min.js"></script>
	<script src="/js/tools/get-notification.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/loader.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/user-profile-modal.js"></script>
	<script src="/js/search.js"></script>
</body>

</html>